<div style="margin-left:3%;">
  <div
    class="card"
    style="background-color: #5b5b5b;height: 40px;color: white;"
  >
    <div
      class="card-body"
      style="font-size:20px;padding: 5px 3px 0px 20px;font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;"
    >
      Pay an External Bill
    </div>
  </div>
  <div class="p-4">
    <chart2></chart2>
    <div class="row" style="margin-top:50px">
      <div class="col-md-4">
        <app-grid></app-grid>
      </div>
      <div class="col-md-4">
        <opportunities></opportunities>
      </div>
      <div class="col-md-4">
        <app-moments-grid></app-moments-grid>
      </div>
    </div>
    <chart4></chart4>
    <chart3></chart3>
  </div>
</div>
