<div style="display: block;margin-top:50px;">
  <div
    style="
display: inline-block;
/* border: 1px solid grey; */
/* padding: 1% 0.6% 1% 1.1%; */
vertical-align: middle;
background: #FFFFFF;
margin: 0% 0 0 30%;width:14%;position:absolute;
"
  >
    <span
      _ngcontent-mtn-c794=""
      style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: .2% 0% 0% -1%;vertical-align: middle;"
      >0</span
    ><span style="margin-left:15px"> Client steps </span>
    <span>&nbsp;</span>
    <span
      style="background: #1277A3;border-radius: 30px;color:#1277A3;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: .2% 0% 0% 0%;vertical-align: middle;"
      >0</span
    ><span style="margin-left:15px"> Front steps</span>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-2 text-right" style="font-size:12px">
      <span style="color:#1277A3">Enrollment</span>
    </div>
    <div class="col-md-5 text-center">
      <span style="color:#F7A444;margin-left:40%">Request Submission</span>
    </div>
    <div class="col-md-3 text-right">
      <span style="color:#7C1CC8">Payment Processing</span>
    </div>
    <div class="col-md-2 text-right">
      <span style="color:#D18BF2">Completion</span>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <span
          style="color:#ffbb00;font-weight:bold;font-size: 15px;margin: 1% 0% 0% 6%;position: absolute;z-index: 100 !important;border-radius: 50% !important;width: 36px;padding: 6px;background: #ffbb00;color: white;text-align: center;"
          >1</span
        >
      </td>
      <td>
        <span
          style="color:#ffbb00;font-weight:bold;margin:2.5% 0% 0% 34.5%;font-size: 15px;position: absolute;z-index: 100 !important;border-radius: 50% !important;width: 36px;padding: 6px;background: #ffbb00;color: white;text-align: center;"
          >2</span
        >
      </td>
      <td>
        <span
          style="color:#ffbb00;font-weight:bold;font-size:15px;margin: 10% 0% 0% 64%;font-size: 15px;position: absolute;z-index: 100 !important;border-radius: 50% !important;width: 36px;padding: 6px;background: #ffbb00;color: white;text-align: center;"
          >3</span
        >
      </td>
      <td>
        <span
          style="color:#ffbb00;font-weight:bold;font-size:15px;margin: 10% 0% 0% 75.8%;font-size: 15px;position: absolute;z-index: 100 !important;border-radius: 50% !important;width: 36px;padding: 6px;background: #ffbb00;color: white;text-align: center;"
          >4</span
        >
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <div
          style="
border-left: 2px solid #ffcece;
height: 28%;
margin:0% 10% 10% 17%;
position: absolute;
z-index: 100 !important;
"
        ></div>
        <div
          style="
border-left: 2px solid #ffcece;
height: 28%;
margin: 0% 10% 10% 59.5%;
position: absolute;
z-index: 100 !important;
"
        ></div>
        <div
          style="
border-left: 2px solid #ffcece;
height: 28%;
margin: 0% 10% 10% 84.5%;
position: absolute;
z-index: 100 !important;
"
        ></div>
      </td>
    </tr>
  </table>

  <div class="col-md-12" style="width:100%;display:flex;">
    <div style="    width: 1%;  margin: 8% 0 0 -3%;">
      <span
        style="writing-mode: vertical-lr; 
transform: rotate(180deg); "
      >
        Sentiment Score
      </span>
    </div>
    <div style="width:3%;margin: 0% 0% 0% 0%;">
      <div style="height:35px;margin:-5% 0% 0% 57%;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="color:green"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-emoji-smile"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
          />
        </svg>
      </div>
      <br />
      <div style="height:35px;margin:78% 0% 0% 57%;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="color:#F7A444"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-emoji-neutral"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"
          />
        </svg>
      </div>
      <br />
      <div style="height:35px;margin:85% 0% 0% 57%;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="color:red"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-emoji-frown"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
          />
        </svg>
      </div>

      <br />
    </div>
    <div style="width:97%">
      <canvas
        style="margin-top:0px;"
        #myCanvas1
        baseChart
        width="400"
        height="75"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
      <div style="width:50%;margin: -1.5% 0% 0% -2%;">
        <span> Client Touch Points</span>
      </div>
      <table style="width:100%; margin: -2% 0% 0% 2%;">
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
        <tr style="color:black;">
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -23% 0% 0% .5%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>Client selects <br />Bill Pay Page</td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -23% 0% 0% 2%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>
            If needed, client enrolls in<br />
            Bill Pay and accepts <br />
            terms and conditions
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -16% 0% 0% 1%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>
            Client searches and <br />
            selects biller name
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -16% 0% 0% 1.5%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>
            Client enters valid<br />
            account number for <br />selected biller
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -23% 0% 0% 2%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>
            Recurring Payment -<br />
            Client enters payment <br />
            information and submits
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #007bff;border-radius: 30px;color: #007bff;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -8.5% 0% 0% .2%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td style="color:#ADD8E6;">
            Client account<br />with biller<br />
            is linked to<br />
            Bofa account
          </td>

          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -15.6% 0% 0% 2.6%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td>
            Client requests eBill for <br />next bill and selects <br />
            auto pay option <br />
            for future payments
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #007bff;border-radius: 30px;color: #007bff;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -8.5% 0% 0% 1.5%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td></td>
          <td style="color:#ADD8E6;">
            Client is emailed that <br />eBill pay option has<br />
            been accepted for<br />
            selected biller
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -8.5% 0% 0% 2%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td></td>
          <td>Client calls contact <br />center to stop payment</td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #007bff;border-radius: 30px;color: #007bff;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -15.8% 0% 0% 2%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td></td>
          <td style="color:#ADD8E6;">Publish confirmation<br />page</td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -8.5% 0% 0% 1.5%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td></td>
          <td>
            Client calls contact <br />
            center after notification that <br />
            payment was unsuccessful
          </td>
          <td>
            <span
              _ngcontent-mtn-c794=""
              style="background: #c5ea62;border-radius: 30px;color: #c5ea62;content: attr(badge);font-size: 6px;min-width: 10px;padding: 1px;position: absolute;text-align: center;margin: -15.8% 0% 0% 6.5%;vertical-align: middle;"
              >0</span
            >
          </td>
          <td></td>
          <td style="left:20px;position:relative">
            Client views account
            <br />
            activity to confirm payment <br />
            was made
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div
    style=" border: 0px solid black;
 margin-top: 0%;
 padding: 1px 1px;
 text-align: right;font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;"
  >
    <div
      style="display: inline-block;
    border: 1px solid grey;
    padding: 8px 8px;
    vertical-align: middle;
    background:#E2F8B5"
    ></div>
    <span
      style="font-size:12px;font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;"
    >
      Happy
    </span>
    <div
      style="display: inline-block;
    border: 1px solid grey;
    padding: 8px 8px;
    vertical-align: middle;
    background:#F0F1C7;"
    ></div>
    <span
      style="font-size:12px;font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;"
    >
      Neutral
    </span>
    <div
      style="display: inline-block;
    border: 1px solid grey;
    padding: 8px 8px;
    vertical-align: middle;
    background:#FFE9E9;"
    ></div>
    <span
      style="font-size:12px;font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;"
    >
      Sad</span
    >
  </div>
</div>
