<!-- <footer>
  <span class="footer-links">Copyright © 2023 Accenture</span>
  <a class="footer-links" href="#"> Privacy statement</a>
  <a class="footer-links" href="#">Internal privacy statement</a>
</footer> -->
<footer class="c-footer">
  <div class="to-page-bg-white-block">
    <div class="c-footer__wrapper">
      <div class="c-footer__topwrapper">
        <div class="c-footer__left">
          <div class="c-footer__logo">
            <p class="Footer-name">
              Information and Insights made possible by the<br /><b
                >Accenture Momentum Platform</b
              >
            </p>
          </div>
          <div class="c-footer__copyright">
            <p class="c-footer__copyright-text">
              Copyright 2001-2023 Accenture. Accenture confidential.<br />For
              internal use only.
            </p>
          </div>
          <div class="c-footer__copyright-links">
            <a
              title=""
              class="c-footer__copyright-link to-link"
              href="/termsOfUse"
              >Terms of Use</a
            ><span>|</span
            ><a
              title=""
              class="c-footer__copyright-link to-link"
              href="/privacyStatement"
              >Privacy Statement</a
            >
          </div>
        </div>
        <div class="c-footer__right">
          <div class="c-footer__feedback">
            <div class="c-footer__info-bar">
              <h4 class="c-footer__info-head">Feedback</h4>
              <p class="c-footer__info-text">
                Help us make the Momentum experience better. If you have a
                comment, idea or even a question, let us know.
              </p>
            </div>
            <button
              type="button"
              class="
                o-secondary-button
                o-footer-secondary-button-over
                o-footer-secondary-button
                Button-module_button__GvwWn
                Button-module_default__4xv8K
                null
              "
            >
              GIVE FEEDBACK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
